<div>
    <div class="title">Chat 0.1</div>
    <button class="btn btn-danger btn-logout" ng-click="main.logout()">Logout</button>
    <button class="btn btn-primary btn-logout" ng-click="main.settings(ctrl)"><span class="glyphicon glyphicon-cog"></span></button>
    <div class="chat-users">
        <span ng-repeat="user in main.users | orderBy: ['-isConnected', 'nick']">
            <span ng-bind-html="user | userStatus"></span><br />
        </span>
    </div>
    <div class="chat-panel">
        <div class="chat-text bottom-align-text">
            <span ng-repeat="mess in main.messages">
                <span ng-bind-html="mess | messageRendering"></span><br />
            </span>
        </div>
   </div>
    <form class="chat-message">
        <input type="text" ng-model="main.message.content">
        <button class="btn btn-success" ng-click="main.addMessage()" ng-disabled="!main.message.content">Post</button>
    </form>
</div>