<div>
    <div class="title">Chat 0.1</div>
    <button class="btn btn-danger btn-logout" ng-click="logout()">Logout</button>
    <button class="btn btn-primary btn-logout" ng-click="settings(ctrl)"><span class="glyphicon glyphicon-cog"></span></button>
    <div class="chat-panel">
        <div class="chat-text bottom-align-text">
            <span ng-repeat="mess in messages">
                <span ng-bind-html="mess | messageRendering"></span><br />
            </span>
        </div>
    </div>
    <div class="chat-message">
        <input type="text" ng-model="message.content">
        <button class="btn btn-success" ng-click="addMessage()" ng-disabled="!message.content">Post</button>
    </div>
</div>