.chat-message-author {
    font-weight: bold;
}

body {
    margin: auto;
    width: 600px;
}

.ng-scope .chat-panel {
    height: 250px;
    overflow: auto;
}

.ng-scope .chat-panel li{
    border:0px;
}

.chat-text {
    bottom: 0;
    outline: 1px solid #099;
}

.chat-panel {
    outline: 1px solid #999;
    position: relative;
    overflow: scroll;
    width: 470px;
    font-family: "DejaVu Sans Mono";
}

.chat-users {
    outline: 1px solid #909;
    width: 99px;
    height: 250px;
    clear: both;
    float: right;
}

.chat-user.status-online {
    color: #090;
}

.chat-user.status-away {
    color: #F70;
}

.chat-user.status-offline {
    color: #CCC;
}

div.title {
    font-size: 30px;
    display: inline-block;
}

.btn-logout {
    float: right;
    margin: 5px;
}

.chat-message {
    margin-top: 5px;
}

.chat-message input {
    width: 500px;
}

.chat-message-action {
    color: #909;
}

.popup-settings {
    outline: 1px solid #909;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 255, 255, .9);
    position: inherit;
    top: 70px;
    left: 100px;
    padding: 5px;
}

.popup-layer {
    position: absolute;
    top:0;
}
.container {
    display: block;
    width: auto;
}

.popup-row {
    margin:auto;
    text-align: center;
}

.popup-bottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: auto;
    display: inline-block;
}

.popup-settings form {
    height:100%;
}

label.control-label {
    display: none;
}

.popup-settings label.control-label {
    display: inline-block;
}

.popup-settings .form-control {
    display: inline-block;
    width: auto;
}
